* text=auto !eol
Backend/Backend.csproj -text
Backend/Disassembler.cs -text
Backend/Instructions.cs -text
Backend/MethodBody.cs -text
Backend/Operands.cs -text
Backend/Properties/AssemblyInfo.cs -text
/CCI[!!-~]Backend.sln -text
Console/Assembly.cs -text
Console/Console.csproj -text
Console/MethodVisitor.cs -text
Console/Program.cs -text
Console/Properties/AssemblyInfo.cs -text
Dependencies/Microsoft.Cci.ILGenerator.dll -text
Dependencies/Microsoft.Cci.MetadataHelper.dll -text
Dependencies/Microsoft.Cci.MetadataModel.dll -text
Dependencies/Microsoft.Cci.MutableMetadataModel.dll -text
Dependencies/Microsoft.Cci.PdbReader.dll -text
Dependencies/Microsoft.Cci.PdbWriter.dll -text
Dependencies/Microsoft.Cci.PeReader.dll -text
Dependencies/Microsoft.Cci.PeWriter.dll -text
Dependencies/Microsoft.Cci.SourceModel.dll -text
Test/Examples.cs -text
Test/LinkedList.cs -text
Test/Properties/AssemblyInfo.cs -text
Test/Test.csproj -text
