/*.suo
Backend/*.user
Backend/bin
Backend/obj
Console/*.user
Console/bin
Console/obj
Test/bin
Test/obj
.vs
/packages/CustomMetadataFix.Microsoft.Cci.Metadata.3.0.0
/Model/obj/Debug
/Model/bin/Debug
/CCIProvider/bin/Debug
/CCIProvider/obj/Debug
