* text=auto !eol
Backend/Analysis/ControlFlowGraph.cs -text
Backend/Analysis/CopyPropagationAnalysis.cs -text
Backend/Analysis/DataFlowAnalysis.cs -text
Backend/Analysis/LoopBoundAnalysis.cs -text
Backend/Analysis/LoopInvariant.cs -text
Backend/Analysis/PointsToAnalysis.cs -text
Backend/Analysis/ReachingDefinitionsAnalysis.cs -text
Backend/Analysis/StaticSingleAssignmentAnalysis.cs -text
Backend/Analysis/SymbolicAnalysis.cs -text
Backend/Analysis/TypeInferenceAnalysis.cs -text
Backend/Analysis/WebAnalysis.cs -text
Backend/Backend.csproj -text
Backend/Disassembler.cs -text
Backend/MethodBody.cs -text
Backend/Properties/AssemblyInfo.cs -text
Backend/Serialization/DGMLSerializer.cs -text
Backend/Serialization/DOTSerializer.cs -text
Backend/ThreeAddressCode/ExceptionHandlers.cs -text
Backend/ThreeAddressCode/Expressions.cs -text
Backend/ThreeAddressCode/Instructions.cs -text
Backend/ThreeAddressCode/Operands.cs -text
Backend/ThreeAddressCode/TypeDefinitions.cs -text
Backend/ThreeAddressCode/Types.cs -text
Backend/Types.cs -text
Backend/TypesExtractor.cs -text
Backend/Utils/Exceptions.cs -text
Backend/Utils/Extensions.cs -text
Backend/Utils/Map.cs -text
Backend/Utils/OperationHelper.cs -text
Backend/Utils/ReferenceEqualityComparer.cs -text
Backend/Utils/Subset.cs -text
Backend/Visitors/IInstructionVisitor.cs -text
Backend/Visitors/InstructionVisitor.cs -text
/CCI[!!-~]Backend.sln -text
Console/Assembly.cs -text
Console/Console.csproj -text
Console/MethodVisitor.cs -text
Console/Program.cs -text
Console/Properties/AssemblyInfo.cs -text
Dependencies/Microsoft.Cci.ILGenerator.dll -text
Dependencies/Microsoft.Cci.MetadataHelper.dll -text
Dependencies/Microsoft.Cci.MetadataModel.dll -text
Dependencies/Microsoft.Cci.MutableMetadataModel.dll -text
Dependencies/Microsoft.Cci.PdbReader.dll -text
Dependencies/Microsoft.Cci.PdbWriter.dll -text
Dependencies/Microsoft.Cci.PeReader.dll -text
Dependencies/Microsoft.Cci.PeWriter.dll -text
Dependencies/Microsoft.Cci.SourceModel.dll -text
Test/Examples.cs -text
Test/LinkedList.cs -text
Test/Properties/AssemblyInfo.cs -text
Test/Test.csproj -text
/dowhile.dgml -text
/for.dgml -text
/foreach_array.dgml -text
/foreach_collection.dgml -text
/grammar_tac.txt -text
/instructions.txt -text
/loop_bound_analysis_results.txt -text
/loops.txt -text
/while.dgml -text
/while_ssa.dgml -text
